/**
 * Form css
 */

#formApp ul.fields {
    margin-left: -40px;
}

#formApp ul.fields li {
    width: 100%;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    list-style-type: none;
    padding: 10px 10px;
    cursor: pointer;
}

#formApp ul.fields li:first-child {
    border-top: 1px solid lightgray;
}

#formApp ul.fields li .fa {
    float: right;
    padding: 5px;
}

#formApp .m-l-5 {
    margin-left: 5px;
}
